@import "../App.scss";

.list-group-item{
    border:none;
    color: $darkGrey;
};

.list-group {
    padding-top:20px;
    padding-right:30px;
    padding-left:60px;
};

.add-task-button span{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin-left: .5em;

}

#todayList i, #todayList button, #todayList .add-task-button {
    color: $today;
};

#weekList i, #weekList button, #weekList .add-task-button{
    color: $week;
};

#allList i, #allList button, #allList .add-task-button{
    color: $all;
};

.to-do-item i {
    padding-left:.5em;
    display:none;
    cursor: pointer;

}
.to-do-item {
    padding-left:.25em;
}
.list-group-item:hover i{
    display: inline;
}

.fa-circle, .fa-check-circle {
    font-size: 1.75em;
    position: relative;
    top: .15em;
    left: -1.25em;
    cursor: pointer;

}
.add-task-button button, .add-task-input button {
    padding: .5em;
    margin-left: -2.35em;

}
.add-task-input input[type=text] {
    border-style: solid;
    border-width: 1px;
    border-color: #707070;
    color: $darkGrey;
    padding: 0 .5em;
    width: 75%;
}

.to-do-item{
    margin-left: -2em;
}

.quicklinks a{
    font-size: .75em;
    color: $grey;
}

.quicklinks {
    margin-top: -8px;
    display:none;
    position: absolute;
}
.list-group-item:hover .quicklinks{
    display:block;
}
