@import "../App.scss";

#nav {
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1.6rem;
    border: 1px solid $lightGrey;
    max-width: 400px;
};

.nav-pills .nav-link {
    border-radius: 1.5rem;
    color: $darkGrey;
    font-size: .9em;
    padding-top: 1em;
    padding-bottom: .9em;
    border:0;
};

#todayNav.active{
    background: $today;
};

#weekNav.active{
    background: $week;
};

#allNav.active{
    background: $all;
};